* {
	font-family: Roboto, sans-serif; 
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	background-image: -o-linear-gradient();
}

#menu {
	height: 57px; 
	background: rgb(26, 40, 77);
	box-shadow: 0 1px 1px rgba(129, 129, 129, 0.12);
    height: 70px;
    align-items: center;
}

#menu > ul {
	padding: 0 60px;
    display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content:flex-end;
}
#menu > ul > li:first-child{
    
    margin-right: auto;
    
}

#menu > ul > li:last-child{
    margin-left: 30px;
    margin-right: 20px;

} 
#menu > ul > li {
    margin-left: 80px;
    font-size:xx-large;
    font-weight:bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
	float: left;
	list-style: none;
	position: relative;
}

#menu > ul > li > a {
	display: block;
	line-height: 57px;
	padding: 0 15px;
	color: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	text-transform: uppercase; 
	text-decoration: none;
}

#menu > ul > li > a:hover {
	background: rgba(0,0,0,0.02);
}

#menu > ul > li > ul {
	background: rgb(26, 40, 77);
	padding: 15px 0;
	width: 140px;
	position: absolute;
	top: 60px;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform-origin: top; 
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	visibility: hidden;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12);
	border-bottom: 1px solid #e0e0e0;
}

#menu > ul > li > ul > li {
	list-style: none;
}

#menu > ul > li > ul > li > a {
	display: block;
	color: rgba(255, 255, 255, 0.75); 
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	padding: 6px 12px;
}

#menu > ul > li > ul:before {
	content: ""; 
	position: absolute; 
	top: -18px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid rgb(26, 40, 77);
	left: 20px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

#menu > ul > li > ul > li > a:hover {
	background: rgba(250, 244, 244, 0.03);
}

#menu > ul > li:hover > ul {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	visibility: visible;
}
table{
	position: absolute;
	top:300px;
width: 100%;
border: 2px solid rgb(189, 188, 188) ;
text-align: center ;
	align-items: center;
   	
}

 .offereddiv th{

    border: 2px solid rgb(189, 188, 188);
    padding: 1em;
    padding-right:1em;
    margin: 2em;
    color: rgb(26, 40, 77);
	text-align: center ;
	align-items: center;
   
    
}
 .offereddiv td{
	border: 2px solid rgb(189, 188, 188);
    padding: 1em;
    padding-right:10vw;
	padding-top: 1em;
	padding-bottom: 1em;
    margin: 1em;
	text-align: center ;
	align-items: center;
   
    
 }
 .offereddiv tr{
	border: 2px solid rgb(189, 188, 188);
	text-align: center ;
	align-items: center;
   
 }
 .offereddiv  .tbutton{
	 border: 2px solid rgb(207, 149, 41);
	 border-radius: 5px;
	 text-align: center;
	background-color: rgb(207, 149, 41);
    font-size:small;
    font-weight:100;
    color: white;
    margin: 1em;
    padding: 1em;
    width: 150px;
    height: 40px;
    box-shadow: -5px -5px 8px 3px white ;
    float: right;
    
 }

 .headingg {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: larger;
	font-weight: bold;
	color: rgb(26, 40, 77);
	position: absolute;
	left:4%;
	
}
 .dowbutton{
	 
	  border: 2px solid rgb(207, 149, 41);
	 border-radius: 5px;
	 text-align: center;
	background-color: rgb(207, 149, 41);
    font-size:small;
    font-weight:100;
    color: white;
    margin: 1em;
    padding: 1em;
    width: 150px;
    height: 40px;
    box-shadow: -5px -5px 8px 3px white ;
    float: right;
	text-decoration: none;
 }
 